{# Variables:
  - items: array of messages
  - sync_client_label: the name of the Sync Client sending the mail.
  - type: 'sync_notice', 'sync_warning' or 'sync_error'
#}

{% if type == 'sync_error' %}
  <strong>{% trans %}Sync {{ sync_client_label }} has encountered an error which requires manual intervention!{% endtrans %}</strong>
{% elseif type == 'sync_warning' %}
  <strong>{% trans %}Sync {{ sync_client_label }} is experiencing issues from which it still might automatically recover. Manual intervention is not required yet.{% endtrans %}</strong>
{% elseif type == 'sync_notice' %}
  {# Nothing, for now. #}
{% else %}
  {# Nothing, for now. #}
{% endif %}

<ul>
  {% for item in items %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
